<section>
	<button ng-click="allMovies();">All</button>
	<button ng-click="byRate();">Popular</button>
	<button ng-click="byDate();">Recent</button>
</section>
<section>
 <input type="text" ng-model="iText" ng-keypress="filter($event);" placeholder="Search a title/director/actor"/>
</section>
<section>
  <select name="show-filter" ng-model="genFilter" 
    ng-options="movie as movie.Genre for movie in movies | unique:'Genre'">
     <option value="">Choose a Genre</optipn>
  </select>
</section>
<div ng-repeat="movie in movies | filter : {Genre: genFilter.Genre}: false">
<ul>
<strong>ID:</strong>{{movie.id}}
<br>
<strong>Title:</strong>{{movie.Title}}
<br>
<strong>Director:</strong>{{movie.Director}}
<br>
<strong>Actors:</strong>{{movie.Actors}}
<br>
<strong>Rate:</strong>{{movie.imdbRating}}
<br>
<strong>Released:</strong>{{movie.Released}}
<br>
<strong>Genre:</strong>{{movie.Genre}}
</ul>
</div>
</div>