*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Small screens (default) */
@media (max-width: 639px){
html {
  font-size: 100%;
  background-color: gray;
}
.main-header{
  height: 200px;
}
.main-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-header li a {
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    margin-top: 0.5%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: gold;
}

.navegacion {
  clear: left;
  top: 5%;
  width: 100%;
  height: 30px;
  margin-top: 5%;
}
.navegacion .orden {
  list-style-type: none;
  margin: 0;
}
.navegacion .orden li {
  float: left;
  width: 100px;
  background-color: blue;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0.2%;
  margin-bottom: 2%;
  font-size: 13px;
  text-align: center;
}
.navegacion .orden li:first-of-type{
  border-left: 1px solid black;
}
.navegacion form {
  clear: left;
  margin-left: 20%;
  font-size: 13px;
}
.pelicula-cuerpo {
  width: 50%;
  list-style-type: none;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}
#pelicula-img{
  height: 100px;
  background-color: red;
}
#pelicula-title{
  font-size: 15px;
  font-style: italic;
}
#pelicula-resume{
  font-size: 13px;
  font-style: italic;
}
.media {
  width: 80%;
  height: 200px;
  align-content: center;
  background-color: red;
  margin-left: 10%;
}
.box {
  float: left;
  width: 40%;
  height: 150px;
  align-content: center;
  background-color: green;
  margin-top: 7%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}
#copyright {
  text-align: center;
}
}
/* Medium screens (640px) */
@media (min-width: 640px){
html {
  font-size: 110%;
}
.main-header{
  height: 150px;
  background-color: black;
}
.main-header ul {
  width: 44%;
  height: 50px;
  position: relative;
  top:100px;
  left: 3%;
  list-style-type: none;
  background-color: red;
  margin: 0px;
  padding: 0px;
}
.main-header li {
  float: left;
  display: block;
  padding: 1px;
  padding-top: 15px;
}
.main-header li a{
  text-decoration: none;
}
.container {
  width: 100%;
  height: 480px;
  background-color: gray;
}
.navegacion {
  position: relative;
  top: 5%;
  width: 100%;
  height: 30px;
  margin-bottom: -3%;
}
.navegacion .orden {
  list-style-type: none;
  margin: 0;
}
.navegacion .orden li {
  float: left;
  width: 80px;
  background-color: blue;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0.2%;
  font-size: 13px;
  text-align: center;
}
.navegacion .orden li:first-of-type{
  border-left: 1px solid black;
}
.navegacion form {
  float: right;
  margin: 0.2%;
  margin-right: 15%;
  font-size: 13px;
}
.pelicula-cuerpo {
  float: left;
  width: 15%;
  list-style-type: none;
  position: relative;
  margin-top: 10%;
  margin-bottom: -5%;
}
#pelicula-img{
  height: 100px;
  background-color: red;
}
#pelicula-title{
  font-size: 15px;
  font-style: italic;
}
#pelicula-resume{
  font-size: 13px;
  font-style: italic;
}
.footer-container {
  width: 100%;
  height: 130px;
  background-color: green;
}
.media {
  float: left;
  width: 15%;
  height: 105px;
  background-color: red;
  margin-top: 0.5%;
  margin-left: 3%;
}
.box {
  float: left;
  width: 15%;
  height: 95px;
  background-color: blue;
  margin-top: 1%;
  margin-left: 8%
}
#copyright {
  float: right;
  margin-top: 105px;
  margin-right: 10px;
}
footer {
  width: 100%;
  height: 20px;
  background-color: gray;
}

/* Large screens (1024px) */
@media (min-width: 1024px){
html {
  font-size: 120%;
}
.main-header li {
  padding: 15px;
}
.container {
  height: 600px;
}
.navegacion .orden {
  list-style-type: none;
  margin: 0;
}
.navegacion .orden li {
  width: 120px;
  font-size: 16px;
}
.navegacion .orden li:first-of-type{
  border-left: 1px solid black;
}
.navegacion form {
  float: right;
  margin-right: 20%;
  font-size: 16px;
}
#pelicula-img{
  height: 120px;
  background-color: red;
}
#pelicula-title{
  font-size: 17px;
}
#pelicula-resume{
  font-size: 15px;
}
.media {
  height: 110px;
}
.box {
  height: 100px;
}